<div class="quatro_title">
    <h1> Quatro - een abstract spel</h1>
</div>

<div class="quatro_uitleg">
    <p>
        De basis van het spel is simpel: zet om de beurt een streep tussen punten op een grid.
    </p>
    <p>
        Als je de laatste streep van de omtrek van een vierkant (een Quatro) zet, levert dit een punt op en mag je
        direct nog een keer.
    </p>
    <p>
        De speler met de meeste punten aan het eind, wint.
    </p>
    <p>
        Klinkt simpel, toch?
    </p>
</div>

<div class="quatro_veld">
    <div class="quatro_veld_label" id="outQ" mouse="Hello!">

    </div>
</div>

<div class="quatro_output">
    <div class="quatro_output_area" id="outOut">
        <span style='color: rgb(5, 175, 179);'> > </span>
    </div>
    <div class="quatro_output_area" id="outScore">
            
    </div>
</div>