<h1>Kennisopdracht Young Capital.next - Quatro!</h1>

<p>
    Tijdens de selectieprocedure van Young Capital.next werd mij gevraagt om 'iets' in Java te gaan
    maken.
    Een volledig vrije opdracht, oftewel tijd om een spelletje te gaan maken!
</p>
<img class="imgQuatro" src="./assets/img/quatro.png" align=right>
<p>
    Al snel kwam ik terecht bij Quatro, een spel wat ik op de middelbare school vaak in de marge van een
    schrift met een medeleerling speelde.
</p>
<p>
    Rechts zie je een printscreen van het programma dat ik hiervoor schreef.
    Dit is volledig in Java geschreven, met Swing om de UI mogelijk te maken. Voor deze interactieve CV
    heb ik de UI omgezet naar Angular, maar wordt de backend nog steeds in Java verzorgt.
</p>
<p> Wel toe aan een spelletje na het lezen van al deze tekst? Klik op de grote rode knop hieronder. Geloof je
    het allemaal wel en wil je direct naar het overzicht van mijn skills? Gebruik dan de pijl naar rechts.
</p>

<div class="div_speel">
    <div class="speelKnop">
        <button mat-raised-button color="warn" (click)="gotoSpeelQuatro()"> Speel Quatro! </button>
    </div>
</div>