<h1> Korte maar toch best uitgebreide bio </h1>

<p>
    Joost kwam voor het eerst in aanraking met programmeren op de
    middelbare school. Hij deed toen mee aan de Informatica
    Olympiade (2005). Voor de historici onder ons: de geschreven
    programma's werden toen getest (onder andere op performance) 
    op een Pentium III, 800 MHz met 256 MB intern geheugen. 
    De opgaven vind je <a href="http://olympiads.win.tue.nl/nio/nio2005/ronde1/nio2005-1.pdf" target="_blank">hier</a>.
</p>

<p>
    Gegrepen door de grenzeloze mogelijkheden die
    de IT biedt, besteedde Joost er elk vrije uur aan. Joost was
    verwonderd door het gemak en plezier waarmee hij een
    programma in elkaar zette en hij doorzag de structuur van de
    programmeertaal met weinig moeite.
</p>

<p>
    Door de jaren heen is hij dit
    gevoel geregeld tegengekomen bij nieuwe projecten en
    programmeertalen. In zijn studie Filosofie (klik <a href="https://www.linkedin.com/pulse/plato-de-grondlegger-van-het-objectgeori%C3%ABnteerd-joost-vermeij/">hier</a>  voor mijn 
    artikel over de overeenkomsten tussen filosofie en de IT) en als docent op de
    middelbare school heeft Joost IT geregeld ingezet om zijn werk
    makkelijker te maken, taken te automatiseren en informatie
    inzichtelijk te maken. Hier heeft hij zijn passie voor de IT
    (her)ontdekt.
</p>

<p>
    Joost is vader van een eenjarige dochter en is
    woonachtig in Ezinge. In zijn vrije tijd staat Joost graag in de
    keuken, speelt hij piano en gitaar en wandelt hij graag door het
    mooie Groninger landschap. </p>

<p>
    Het Java Traineeship biedt Joost de kans om zich te ontwikkelen als
    programmeur en hij staat dan ook te popelen om te beginnen!
</p>